td,
th {
  border: 1px solid #ddd;
  padding: 10px;
}

table {
  width: 100%;
}

.collectionTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* .collectionTable tr:hover {
  background-color: #ddd;
  transition: color 0.5 ease-in-out;
} */

.collectionTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  /* background-color: #001529; */
  /* color: rgba(255, 255, 255, 0.65); */
}
.createTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  /* background-color: #f5f5f5; */
  /* color: rgba(57, 57, 57, 0.65); */
}

input {
  width: 200px !important;
}

@media print {
  .sider-class,
  input,
  button {
    display: none !important;
  }

  p,
  strong,
  h1,
  h2,
  h3,
  h4,
  th,
  span,
  td,
  h5,
  h6 {
    color: black !important;
  }
  .site-layout {
    width: 100%;
  }
  .layout-card {
    padding: 0 !important;
    top: 0 !important;
    position: absolute !important;
    width: 100% !important;
    border: none !important;
  }
}
